@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Necesario para que la app ocupe toda la pantalla */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Reset básico */
body {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: block; /* ← MUY IMPORTANTE */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}


@keyframes writeAnim {
  0%   { transform: translateX(0px) rotate(-8deg); }
  50%  { transform: translateX(-18px) rotate(-14deg); }
  100% { transform: translateX(0px) rotate(-8deg); }
}

.animate-write {
  animation: writeAnim 1.8s infinite ease-in-out;
}

/* Fade con leve slide */
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 1s ease-out forwards;
}

/* Glow suave para la imagen */
@keyframes softGlow {
  0% {
    box-shadow: 0 0 0 rgba(255,255,255,0.4);
  }
  100% {
    box-shadow: 0 0 25px rgba(255,255,255,0.5);
  }
}

.animate-softGlow {
  animation: softGlow 1.2s ease-out forwards;
}

